<!DOCTYPE html>
<html>
<head>
  <title>Lightwalletd Servers</title>
  <style>
    body {
      font-family: sans-serif;
    }
    p {
      text-align: left;
    }
    #header {
      text-align: center;
    }
    #header a {
      padding-right: 0.5em;
    }
  </style>
</head>
<body>
  <div id="header">
    <a href="/">Server list</a>
    <a href="/faq">FAQ</a>
    <a href="/contact">Contact</a>
    <a href="https://github.com/HashingMachine/lwdfail">Source code</a>
  </div>

  <h2 style="text-align: center">Contact</h2>
  <p>If you want to contact me, send an email to <a href="mailto:HashingMachine@danwin1210.de">HashingMachine@danwin1210.de</a>.</p>
  <p>Alternatively, if your message fits in 512 bytes, you can make a transaction to my address with your message in the memo field: zs1u3fz57w64vyz9nwd5k6tu6z67aft4n4325jzwsszmceqapnrvnt82d8xeqsehf0w0p2dvgncxng</a></p>
</body>
</html>
