<!DOCTYPE html>
<html>
<head>
  <title>Lightwalletd Servers</title>
  <style>
    body {
      font-family: sans-serif;
    }
  </style>
</head>
</body>
  <p>{{.msg}}</p>
  <a href="/">Back to server list</a>
</body>
</html>
